<p id="notice"><%= notice %></p>


<%= image_tag @cookie.img_url %>

</br>

<!-- CHANGE THIS link to reflect whether the cookie has already been favorited -->
<%= link_to "Save as Favorite", save_as_favorite_path(@cookie.id) %>

