<p id="notice"><%= notice %></p>

<p> You can see this image because you set the cookie `can_access` equal to `yes` in your browser. Otherwise the server would have redirected you back to the homepage.</p>

<%= image_tag @dessert.img_url %>

</br>

<!-- CHANGE THIS link to reflect whether the dessert has already been favorited -->
<%= button_to "Save as Favorite", save_as_favorite_path(@dessert.id) %>
